html {
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
}

.courses-container-mobile,
.mobile-secondary-content,
.mobile  {
  display: none;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 64px;
}

.logo {
  display: inline-flex;
  align-items: center;
  margin: 0 0 0 24px;
  text-transform: uppercase;
}

.logo span {
  font-size: 1.2rem;
}

#colmar {
  font-weight: 600;
  color: #4c586f;
}

#academy {
  color: #a2aab0;
}

nav {
  margin-right: 24px;
}

nav li {
  display: inline-flex;
  list-style: none;
  justify-content: center;
  padding-right: 16px;
  font-size: .8rem;
}

.signin {
  padding: 10px 25px;
  border-radius: 5px;
  background-color: #4c586f;
  color: white;
}

.signin:hover {
  background-color: #637392;
}

nav a {
  color: #4c586f;
  text-decoration: none;
}


.banner {
  background-color: #ebeced;
  display: flex;
  width: 100%;
  justify-content: center;
}

.banner-image {
  width: 60%;
  height: auto;
  padding: 32px 12px 32px 24px;
}

.banner-image img, .main-content img {
  width: 100%;
}

.banner-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 40%;
  padding: 32px 12px;
}

.banner-content h1 {
  font-size: 3.5em;
  color: #3e3e3b;
  margin: 0;
}

.banner-content h3 {
  font-weight: 400;
  color: #a2aab0;
}

.banner-content a {
  text-align: center;
  color: #ebeced;
  text-decoration: none;
  background-color: #4c586f;
  width: 60%;
  padding: 15px 0;
  border-radius: 5px;
  font-size: 0.9rem;
  text-transform: uppercase;
  margin-top: 25px;
}

.banner-content a:hover {
  background-color: #637392;
}

.info {
  display: flex;
  width: 100%;
}

.main-content {
  width: 60%;
  display: flex;
  flex-direction: column;
  padding: 32px 24px;
}

.main-content h1 {
  font-size: 3em;
  color: #3e3e3b;
  padding: 32px 0 24px 0;
  margin: 0;
}

.main-content p, .main-content span, .video-content p {
  color: #a2aab0;
  line-height: 1.5;
  font-size: 1rem;
}

.secondary-content {
  width: 40%;
  display: flex;
  flex-direction: column;
  border-left: 1px solid #ebeced;
  padding-top: 16px;

}

.info-container {
  display: inline-flex;
  align-items: center;
  width: 100%;
}

.info-container img {
  margin: 16px;
  width: 35%;
}

.info-text {
  width: 65%;
}

.info-text h3 {
  color: #3e3e3b;
  font-size: 1.5rem;
}

.info-text p {
  padding: 8px 0;
}

.info-text a {
  color: #678ed8;
  text-decoration: none;
}

.info-container:nth-child(-n+2) {
  border-bottom: 1px solid #ebeced;
}

.info-container:hover {
  background-color: #ebeced;
}

.courses {
  background-color: #ebeced;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.courses h1 {
  text-align: center;
  font-size: 3em;
  color: #3e3e3b;
  padding-top: 32px;
  margin: 0;

}

.courses-container {
  display: inline-flex;
  justify-content: center;
  flex-wrap: wrap;
  padding: 32px 72px;
}

.course-box {
  width: 280px;
  background-color: white;
  margin: 16px;
}

.course-box img {
  width: 100%;
}

.course-text {
  padding: 16px;
  color: #3e3e3b;
}

.course-text span {
  font-weight: 200;
}

.course-text p {
  line-height: 1.5;
  font-size: .9rem;
  color: #a2aab0;
}


.exhibit {
  width: 100%;
}

.exhibit h1 {
  text-align: center;
  font-size: 3em;
  color: #3e3e3b;
  padding: 32px 0;
  margin: 0;

}

.exhibit-container {
  display: inline-flex;
}

.video-content  {
  width: 60%;
  margin: 0 24px 24px 24px;
}

video {
  width: 100%;
}

.video-content h3 {
  color: #3e3e3b;
  font-size: 1.5rem;
}

.other-exhibits {
  width: 40%;
}

footer {
  border-top: 1px solid lightgrey;
  padding: 16px 24px 32px 24px;
  color: #a2aab0;
  font-size: .8rem;
}

footer a {
  padding: 0 16px;
  float: right;
  color: #a2aab0;
  text-decoration: none;
}


@@media only screen and () {

}
